<!DOCTYPE html>

<div class="contact">
    <div class="page-header">                      
        <h1>Contact</h1>
      </div>
    
    <form id="contact" class="form-container" action="/api/feedback" method="POST" autocomplete="off">
        <div class="comments-box">
            <label class="label-style" for="name">Name</label>

            <input class="name-style" id="name" name="name" type="text" autocomplete="off" required>
            <label class="label-style" for="comments">Feedback</label>

            <textarea class="area-style" id="feedback" name="feedback" type="text" placeholder="How did you find my portfolio?" required cols="30" rows="15"></textarea>
        </div>
            <button class="submit" type="submit">Submit</button>
    </form>

    
</div>



    <style>

.contact {

    z-index: 0;
    height: 80vh;
   
}



.form-container{

    position: relative;
    padding: 30px 0px;
    width:50%;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
    
}

.contact-header {

    text-align: center;
    font-family: 'karla', sans-serif;
}


.name-box, .email-box, .comments-box {

    width:80%;
    margin: auto;
  
}

.label-style{

  display: block;
  color: black;
  letter-spacing: 0.2em;
  font-family: 'love ya like a sister', sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  margin: 5px auto;
  width:100%;
  
}


.area-style{

  width:100%;
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: #c2c4c4d0;
  font-size: 1.2em;
  padding: 5px;
}

.area-style::placeholder {

  padding: 5px;
}

.area-style:focus {

background-color: white;
border: 1px solid #3298c3d0;
}

.name-style {
 
    height: 60px;
    width:100%;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: #c2c4c4d0;
    font-size: 1.2em;
    padding: 5px;
}

.name-style:focus {
 
 border: 1px solid #3298c3d0;
 background-color: white;
}
.submit{
    
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #3298C3;
    font-family: 'saira', sans-serif;
    width:140px;
    height: 50px;
    z-index: 0;
    
}

.submit:hover{
 
    transform: translate(-50%) scale(1.1);
    border: none;
    animation: grow;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}



@keyframes grow {
    0% {
        transform: translate(-50%) scale(1);
    } 100% {
        transform: translate(-50%) scale(1.1);
    }
}

@media (max-width: 1100px) {

    .form-container {

        width: 90%;
        margin: auto;
    }

}

@media (max-width: 1000px) {


}

@media (max-width:750px)
{

    .form-container {

        padding-bottom: 10px;
        width: 90%;
        margin: auto;
   }

   .area-style {

    height: 100px;
    font-size: 1em;
   }
   .name-style {

    height: 30px;
    width:100%;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: #c2c4c4d0;
    font-size: 1em;
    
   }


}

 /* ---------------------------------------------------------------------------------------------------------- */
  
 .email-style {

    font-family: 'love ya like a sister', sans-serif;
    font-size: 1em;

 }

 
  
  
  .fa-github:hover, .fa-twitter:hover, .fa-linkedin:hover{

      transform: scale(1.1);
      cursor: pointer;
      color: #3298C3;
      
      
  }


  .fab {

      padding:0 5px;
      font-size: 1.2em;
  }

  .my-email {

    color: black;
    font-family: 'love ya like a sister', sans-serif;
    text-decoration: underline;
    
  }
  
    </style>
</body>
</html>