<!DOCTYPE html>

<div class="contact">
    <div class="page-header">                      
        <h1>Contact</h1>
      </div>
    
      <div class="socials">
            <a class="social-link" href="https://twitter.com/Dibdevs"><i class="fab fa-twitter"></i></a> 
            <a class="social-link" href="https://github.com/Dibz-Dev"> <i class="fab fa-github"></i></a>
            <a class="social-link" href="https://www.linkedin.com/in/dibs-dev/"><i class="fab fa-linkedin"></i></a>
      </div>
    
       
            <div class="email-contact">
                <h2 class="my-email">ben.dibley26@gmail.com</h2>
            </div>
          
    <form id="contact" class="form-container" action="/api/feedback" method="POST" autocomplete="off">
        <div class="comments-box">
            <label class="label-style" for="comments">Feedback</label>

            <input class="name-style" id="name" name="name" type="text" placeholder="Name" autocomplete="off" required>
            <textarea class="area-style" id="feedback" name="feedback" type="text" placeholder="How did you find my portfolio?" required></textarea>
        </div>
            <button class="submit" type="submit">Submit</button>
    </form>

</div>



    <style>

.contact {
    z-index: -1;

}


.form-container{
    padding: 50px 0px;
    width:60%;
    margin: auto;
    
}

.contact-header {

    text-align: center;
    font-family: 'karla', sans-serif;
}

.name-box, .email-box, .comments-box {
    width:50%;
    margin: auto;
    
    
}

.label-style{
  display: block;
  color: rgb(197, 89, 98);
  letter-spacing: 0.2em;
  font-family: 'karla', sans-serif;
  font-weight: 500;
  margin: 5px auto;
  width:100%;
  
}

.input-style{
  height:30px;
  border: 1px solid black;
  border-radius: 2px;
  margin:10px 0px;
  width:100%;
  outline: none;
  
}

.area-style{
  height:100px;
  width:100%;
  border-radius: 2px;
  border: 1px solid black;
}

.name-style {
 
    height: 25px;
    width:100%;
    border-radius: 2px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.submit{
    position: absolute;
    margin:0;
    margin-top: 20px;
    left:50%;
    transform: translate(-50%);
    padding:10px;
    border-radius: 10px;
    border: 2px solid rgb(197, 89, 98);
    outline: none;
    cursor: pointer;
    color: rgb(197, 89, 98);
    font-weight: bold;
    background-color: gainsboro;
    font-family: 'saira', sans-serif;
    width:120px;
    
}

.submit:hover{
 
    transform: translate(-50%) scale(1.1);
    background-color: white;

}
@media (max-width:700px)
{
.form-container{
    padding: 50px 0px;
    width:80%;
    margin: auto;
    
}
.name-box, .email-box, .comments-box {
    width:100%;
    margin: auto;
    
    
}
}

 /* ---------------------------------------------------------------------------------------------------------- */
  
 .socials{
    
    margin-top: 50px;
    text-align: center;
    
    
    
  }
  
  .fa-github:hover, .fa-twitter:hover, .fa-linkedin:hover{
      transform: scale(1.1);
      cursor: pointer;
      
      
  }


  .fab {
      padding:0 20px;
      font-size: 2em;
  }

  .my-email {

    color: rgb(197, 89, 98);
    font-family: 'saira', sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
    </style>
</body>
</html>