<div id="feedback-container" class="feedback-container">
    
</div>









<style>

    .feedback-container {

        display:flexbox;
        flex-direction: column;
        margin: 20px auto;
        width:80%;
        height:100%;
        background-color: white;
        border: 2px solid black;
        text-align: center;
    }

    .name-style {

        font-family: 'karla', sans-serif;
        /* font-size: 1.1em; */


    }
</style>