<footer>
    <div class="email-contact">
        <h2 class="my-email">ben.dibley26@gmail.com</h2>
        <div class="socials">
            <a class="social-link" href="https://twitter.com/Dibdevs"><i class="fab fa-twitter"></i></a> 
            <a class="social-link" href="https://github.com/Dibz-Dev"> <i class="fab fa-github"></i></a>
            <a class="social-link" href="https://www.linkedin.com/in/dibs-dev/"><i class="fab fa-linkedin"></i></a>
      </div> 
    </div> 
    

    <!-- <div class="footer-shape"></div> -->
    <h3 class="copyright">
    Copyright &copy; DibDev
</h3>
</footer>

<style>

footer{

    font-family: 'Special Elite', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-align: end;
    padding:0px 10px;
    height: 300px;
    background-color: #DBCF65;
}




.copyright{
    
    position: absolute;
    bottom: 0%;
    right: 2%;
    font-size: 0.7em;
    font-weight: 100;
  
}

</style>