<footer>
    <h3 class="copyright">
    Copyright &copy; DibDev
</h3>
</footer>

<style>

footer{
    position: absolute;
    height:100px;
    left:0%;
    right:0%;
    font-family: 'Karla', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-align: end;
    padding:0px 10px;
}

.copyright{
    font-size: 0.7em;
    font-weight: 100;
    margin-top:80px;
}

</style>