<div id="buttons" class="btn-wrapper">
    <button class="btn-about" data-modal-target="#about">Things I Love...</button>
    <button class="btn-about" data-modal-target="#tools">My Tool Box</button>
</div>


<div id="about" class="modal-wrapper">

   
        <div class="header-times">
        <h3 class="modal-header">Couldn't Live Without..</h3> <span class="times">&times;</span>
    </div>
        
            <ul class="modal-items">
               <li>My Family</li>
               <li>Running</li>
               <li><span style="text-decoration:line-through; color:black">Beer</span> Coffee</li>
               <li>Coding</li>
               <li>
               <i class="fas fa-hockey-puck"></i>
               <i class="fas fa-futbol"></i>
               <i class="fas fa-football-ball"></i>
               </li>
               <li>Beach</li>
               <li>Sunday Roast</li>
               <li>Food</li>
               <li>Travelling</li>
               
            </ul>
             
           
    

</div>

<div id="tools" class="modal-wrapper">

   
    <div class="tech-times">
    <h3 class="modal-header">My Tool Box</h3> <span class="times">&times;</span>
</div>
    
        <ul class="modal-items">
           <li>HTML</li>
           <li>CSS </li>
           <li>Javascript</li>
           <li>React</li>
           <li>Node.js</li>
           <li>Express</li>
           <li>MongoDB</li>
        </ul>
         
       


</div>

<div id="overlay" class="overlay"></div>


<style>

.btn-wrapper {
    margin:auto;
    padding: 10px;
  }

  .btn-about {
      padding:10px;
      margin:0 10px;
      border-radius: 3px;
      border: none;
      outline: none;
      cursor: pointer;
      color: black;
      font-weight: bold;
      background-color: rgb(197, 89, 98);
      font-family: 'saira', sans-serif;
      width:170px;
  }

  .btn-about:hover {
     transform: scale(1.1);
     background-color: white;
     border: none;
  }

  .header-times, .tech-times {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px;
  }

  .modal-header {
      padding-left: 20px;
      font-family: 'karla', sans-serif;
  }

  .times{
      margin-top: -5px;
      font-size: 2em;
      font-weight: bold;
      cursor: pointer;
      
      
  }

  .times:hover{
      transform: scale(1.1);
      
      
  }

  

    .overlay {
        transform: scale(0);
    }

    .overlay.active {
        
      position: fixed;
      max-height: 100vh;
      top:0%;
      bottom:0%;
      right:0%;
      left: 0%;
      background-color: rgba(49, 48, 48, 0.897);
      pointer-events: all;
      transform: scale(1);
      overflow: hidden;
      
      
    }

    .modal-wrapper {

     transform: translate(-50% ) scale(0);
     display: none;
     transition: 1s;
   }


  .modal-wrapper.active {
      
      display: block;
      position: fixed;
      left: 50%;
      top:20%;
      height:320px;
      width:350px;
      padding: 30px;
      transform: translate(-50% ) scale(1);
      background-color: white;
      z-index: 20;
      border-radius: 3px;
      transition: 1s;
      
      }

      .modal-items{
          margin-top: -7px;
          justify-content: center;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
          font-family: 'karla', sans-serif;

      }

      li {
          padding: 3px 0px 5px 10px;
          line-height: 1em;
          letter-spacing: 0.2em;
          color: rgb(197, 89, 98);
          
      }

      @media (max-width: 700px)
      {
          .btn-wrapper{
              display: none;
          }
      }




</style>