

<div id="about" class="modal-wrapper">

    <span class="times">&times;</span>
   
        <div class="header-times">
        <h3 class="modal-header">Couldn't Live Without..</h3> 
    </div>
        
            <ul class="modal-items">
               <li>My Family</li>
               <li>Running</li>
               <li><span style="text-decoration:line-through; color:white">Beer</span> Coffee</li>
               <li>Coding</li>
               <li>
               <i class="fas fa-hockey-puck"></i>
               <i class="fas fa-futbol"></i>
               <i class="fas fa-football-ball"></i>
               </li>
               <li>The Ocean</li>
               <li>New Zealand</li>
               <li>Food</li>
               <li>Travelling</li>
               <li>The Mountains</li>
               <li>Sunday Roasts</li>
             
               
               
            </ul>
             
           
    

</div>

<div id="tools" class="modal-wrapper">

   
    <div class="tech-times">
    <h3 class="modal-header">My Tool Box</h3> <span class="times">&times;</span>
</div>
    
        <ul class="modal-items">
           <li>HTML</li>
           <li>CSS </li>
           <li>Javascript</li>
           <li>Node.js</li>
           <li>React</li>
           <li>Redux</li>
           <li>Next</li>
           <li>Express</li>
           <li>MongoDB</li>
           <li>Figma</li>
        </ul>
         
</div>

<div id="overlay" class="overlay"></div>


<style>


 
@keyframes borderGrow {
    0% {
        transform: scale(1);
    } 100% {
        transform: scale(1.1);
    }
}

  .header-times, .tech-times {
      
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      width: 100%;
  }

  .modal-header {

      margin-top: -50px;
      font-family: 'love ya like a sister', sans-serif;
      color: white;
      font-size: 3.5em;
  }

  .times{

      position: absolute;
      top: -20%;
      right: -35%;
      font-size: 4em;
      font-weight: bold;
      cursor: pointer;
      color: white;
      
      
  }

  .times:hover{
      transform: scale(1.1);
      
      
  }

  

    .overlay {

        transform: scale(0);
        animation: growDown;
        animation-duration: 1s;
    }

    @keyframes growDown {
        0% {
            opacity: 10;
        }
        100% {
            opacity: 0;
        }
    }

    .overlay.active {
        
      position: fixed;
      max-height: 100vh;
      top:0%;
      bottom:0%;
      right:0%;
      left: 0%;
      background-color: rgba(31, 30, 30, 0.932);
      pointer-events: all;
      transform: scale(1);
      overflow: hidden;
      z-index: 2;
      transition: 0.3s;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .modal-wrapper {

     transform: translate(-50% ) scale(0);
     display: none;
     transition: 1s;
   }


  .modal-wrapper.active {
      
      display: block;
      position: fixed;
      left: 50%;
      top:20%;
      height:350px;
      width:350px;
      padding: 30px;
      transform: translate(-50% ) scale(1);
      /* background-color: white; */
      z-index: 20;
      border-radius: 3px;
      animation: growAgain;
      animation-duration: 3s;

}

@keyframes growAgain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10
  }
}
      
      

      .modal-items {

          margin-top: -10px;
          justify-content: center;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
          font-family: 'karla', sans-serif;
          color: white;

      }

      li {
          padding: 3px 0px 5px 10px;
          line-height: 1em;
          letter-spacing: 0.2em;
          font-size: 1.4em;
          
          
      }

      @media (max-width: 700px)
      {
          
          .btn-wrapper{
              display: none;
          }
      }




</style>