
<div class="wrapper">
    <nav class="nav">
     
                <ul class="list">
                 
                   <li data-list-style><a class="h-list" href="#home">Home</a></li>
                   <li data-list-style><a class="h-list" href="#projects-pane">Projects</a></li>
                   <li data-list-style><a class="h-list" href="#contact">Contact</a></li>
                </ul>
    </nav>

    <div class="menu-container">
      <div id="top"class="transform-top"></div>
      <div id="middle"class="removable"></div>
      <div id="bottom" class="transform-bottom"></div>
   </div>   
</div>

   

