
<div class="wrapper">
    <nav class="nav">
      <!-- <div class="logo">
          <img class="img-style" src="/LOGO.svg" alt="Dib dev logo">
             </div> -->
                <ul class="list">
                   <li><a class="h-list" href="./projects">Projects</a></li>
                   <li><a class="h-list" href="#">About</a></li>
                   <li><a class="h-list" href="#">Resume</a></li>
                   <li><a class="h-list" href="./contact">Contact</a></li>
                </ul>
                <i class="fas fa-bars"></i>
        
    </nav>
</div>

   

