<div id="projects-pane"></div>

<div class="projects-wrapper">

<div class="page-header">                      
  <h1>Projects</h1>
</div>  
<div class="project-bg">
  <div class="ind-project project-1"></div>
  <div class="ind-project project-2"></div>
  <div class="ind-project project-3"></div>

</div>
</div>



  <style>
.projects-wrapper {
  z-index: -1;
}
    

.project-bg{
  display: flex;
  justify-content: space-around;
  width:90%;
  height: 450px;
  margin:auto;
  background-color: rgb(197, 89, 98);
  border-radius: 10px;
  padding: 10px 5px;
}

.ind-project{
  width:360px;
  border:1px solid white;
  border-radius: 5px;;
  
}



  </style>
<script src="app.js"></script>
</body>
</html>