

<div id="projects-pane" class="projects-wrapper">

        <div class="page-header project-head">                      
          <h1>Projects</h1>
        </div> 
<!-- 
        <div class="project-shape"></div> -->
        <div class="project-bg">

          <div>
            <img class="thumbnailProject shopeanThumbnail" src="shopean.png" alt="">
          </div>
          <div>
            <img class="thumbnailProject weatherThumbnail" src="weatherWatch.png" alt="">
            
          </div>

          <div>
            <img class="thumbnailProject gumbootThumbnail" src="Gumboot.png" alt="">
            
          </div>
         
          <div class="ind-project project-shopean hide">
            <span class="project-times">&times;</span>
            <h2 class="project-modal-header">Shopean</h2>
                <img class="project-image-size" src="shopean.png" alt="">
                <div>
                    <ul class="project-list">
                      <li>A functional Shopping list, Shopean stores shopping items, which can then be dynamically added to your shopping list in their respective categories.</li>
                      <li>Backend: Server created using Node.js/Express to create and authenticate user profiles, MongoDB. </li>
                      <li>Frontend: Html, CSS and vanilla Javascript, hosted on Heroku.</li>
                    </ul>
                    <div class="project-btn-wrapper">
                      <button class="btn-projects"><a href="https://shopean.herokuapp.com">Visit Live Site</a></button>
                      <button class="btn-projects"><a href="https://github.com/Dibz-Dev/shopean">Source Code</a></button>
                    </div>
              </div>
          </div>

          <div class="ind-project project-weather hide">
            <span class="project-times">&times;</span>
            <h2 class="project-modal-header">Weather Watch</h2>
              <img class="project-image-size" src="weatherWatch.png" alt="">
              <div>
                  <ul class="project-list">
                    <li>A simple weather app allowing you to check the current weather in any city around the world.</li>
                    <li>Weather watch takes user input and returns weather info from the AccuWeather API</li>
                    <li>Built with HTML, CSS and Javascript</li>
                  </ul>
                  <div class="project-btn-wrapper">
                    <button class="btn-projects"><a href="https://dibs-weatherwatch.netlify.app/">Visit Live Site</a></button>
                    <button class="btn-projects"><a href="https://github.com/Dibz-Dev/WeatherWatch">Source Code</a></button>
                  </div>
              </div>
          </div>  

          <div class="ind-project project-gumboot hide">
            <span class="project-times">&times;</span>
            <h2 class="project-modal-header">The Gumboot</h2>
              <img class="project-image-size" src="Gumboot.png" alt="">
              <div>
                  <ul class="project-list">
                    <li>A Small website for a new cafe showcasing Menus, Contact info as well as general info and a Picture gallery.</li>
                    <li>Built with React, using express for the backend allowing customers to check out customer reviews as well as allowing them to leave their own. Icons designed using Figma.</li>
                  </ul>
                  <div class="project-btn-wrapper">
                      <button class="btn-projects"><a href="https://thegumboot.herokuapp.com/">Visit Live Site</a></button>
                      <button class="btn-projects"><a href="https://github.com/Dibz-Dev/theGumboot">Source Code</a></button>
                  </div>
              </div>
          </div>
          
  </div>

</div>


<style>
  
.project-times {

  position: absolute;
  color: white;
  right: 3%;
  top: 1%;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
}

.project-times:hover {

  transform: scale(1.1);
}

.project-shopean-block, .project-weather-block, .project-gumboot-block {

  display: none;
}

.project-shopean-block.active{

  display: block;
  z-index: 3;
}

.projects-wrapper {

  z-index: -1;
  width:100%;
  margin-top: 50px;
  
  
}
.project-head {

  margin-top: 0px;
}

.project-shape {

  background: url(roundedrectangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -30px;
  width: 100%;
  height: 85vh;
 
}

.project-list {

  margin-top: 100px;
}

.project-list li {

  color: white;
  font-family: 'karla', sans-serif;
  line-height: 1.1em;

}

.thumbnailProject {

  width: 300px;
  height: 200px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  transition: ease-in-out;
}

.thumbnailProject:hover {

  transform: scale(1.025);
  z-index: -1;
  transition: 0.5s;
  transition: ease-in-out;
}
    

.project-bg {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width:80%;
  margin: auto;
  padding: 10px 5px;
  /* border: 1px solid black; */

}



.project-modal-header {

  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-family: 'Special Elite', sans-serif;

}

.project-image-size {

  width:100%;
  height:300px;
  margin: 80px auto 0 auto;
  border-radius: 7px;

}

.ind-project {
  
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%) scale(1);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 0.836);
  display:grid;
  grid-template-columns: 1fr 1fr;
  width:70%;
  height:70vh;  
  z-index: 20;
  animation: growUp;
  animation-duration: 3s;

}

@keyframes growUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10
  }
}

.hide {

display: none;
transform: scale(0);
}

.project-btn-wrapper {

   display: flex;
   justify-content: center;

}

.btn-projects {

  background-color: rgb(85, 174, 209);
  color: white;
  border-radius: 5px; 
  padding: 5px;
  margin: 15px 5px 50px 5px; 
  width: 30%;
  text-align: center;
  font-family: 'karla', sans-serif;
  border: none;
  outline: none;
  
  
}

.btn-projects:hover {

  color: black;
  background-color: white;
  transform: scale(1.025);
  
  
}

a {

text-decoration: none;
color: black;

}

@media (max-width: 1100px) {

  .projects-wrapper {

   width:100%;

}

  
  .thumbnailProject {

    width: 270px;
    height: 200px;
    border-radius: 3px;
    cursor: pointer;
}

}

@media (max-width: 1000px) {

  .projects-wrapper {

    width:100%;

}


.thumbnailProject {

    width: 200px;
    height: 150px;
    border-radius: 3px;
    cursor: pointer;
}

.project-image-size {

    width:90%;
    max-width: 350px;
    height:200px;
    margin: 100px auto 0 auto;
    border-radius: 7px;

}

.ind-project {

  display: grid;
  grid-template-columns: 1fr;
  height: 60vh;
}

}

@media (max-width: 750px) {

.projects-wrapper {

  width:100%;

}

.project-modal-header {

  top: 5%;
}

.project-bg {

  display: flex;
  flex-direction: column;
 
}

.thumbnailProject {

  width: 300px;
  height: 200px;
  border-radius: 3px;
  cursor: pointer;
}

.project-image-size {

    width:80%;
    max-width: 300px;
    height:200px;
    margin: 100px auto 0 auto;
    border-radius: 7px;

}

.ind-project {

  top: 2%;
  display:grid;
  grid-template-columns: 1fr;
  height: 90vh;
  width: 90%;
}

.project-list {

    margin-top: 30px;
    font-size: 15px;
}

}

@media (max-width: 350px) {

  .thumbnailProject {

    width: 250px;
    height: 150px;
  }
  .project-list {

   margin-top: 30px;
   font-size: 12px;
}
  .project-image-size {

   height:150px;
}

.ind-project {

  margin-top: -20px;
}


}


</style>

