

<div id="projects-pane" class="projects-wrapper">

<div class="page-header">                      
  <h1>Projects</h1>
</div>  
<div class="project-bg">
  <div class="ind-project project-1">
      <div class="project-image-wrapper">
          <img class="project-image-size" src="Shopean.home.jpg" alt="image of Shopean project">
          <img class="project-image-size" src="shopean.main.jpg" alt="image of main Shopean page">
      </div>
    <div class="header-para-project-wrapper">
      <h1 class="project-header">Shopean</h1>
       <ul class="project-list-wrapper">
            <li class="project-list">A functional Shopping list, Shopean stores shopping items, which can then be dynamically added to your shopping list in their respective categories.</li> 
            <li class="project-list">Backend: Server created using Node.js/Express to create and authenticate user profiles, database created using MongoDB. </li>
            <li class="project-list">Frontend: Html, CSS and vanilla Javascript, hosted on Heroku.</li>
      </ul>
    </div>
      <div class="project-btn-wrapper">
            <button class="btn-projects"><a href="shopean.herokuapp.com">Visit Shopean</a></button>
            <button class="btn-projects"><a href="https://github.com/Dibz-Dev/shopean">Source Code<i class="git fab fa-github"></i></a></button>
      </div>
   
</div>
  <div class="ind-project project-2">
    <div class="project-image-wrapper">
      <!-- <img class="project-image-size" src="Shopean.home.jpg" alt="image of Shopean project">
      <img class="project-image-size" src="shopean.main.jpg" alt="image of main Shopean page"> -->
      <div class="project-image-size">
        <h2 class="under-construct">Under</h2>
      </div>
      <div class="project-image-size">
        <h2 class="under-construct">Construction</h2>
      </div>
  </div>
<div class="header-para-project-wrapper">
  <h1 class="project-header">The Gumboot</h1>
   <ul class="project-list-wrapper">
        <li class="project-list">A landing page for The Gumboot cafe.</li> 
        <li class="project-list">Backend: Server created using Node.js/Express to allow customers to contact Jandals directly.</li>
        <li class="project-list">Frontend: Html, CSS and React.</li>
  </ul>
</div>
  <div class="project-btn-wrapper">
        <button class="btn-projects"><a style="pointer-events: none;" href="">Visit Live Site</a></button>
        <button class="btn-projects"><a style="pointer-events: none;" href="https://github.com/Dibz-Dev">Source Code<i class="git fab fa-github"></i></a></button>
  </div>
  </div>
  <div class="ind-project project-3" style="display: none" >
 
  </div>

</div>
</div>



  <style>
.projects-wrapper {
  z-index: -1;
  width:100%;
  
}
    

.project-bg{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: 10px;
  width:90%;
  margin:auto;
  padding: 10px 5px;
}

.project-header {

  text-align: center;
  font-family: 'saira', sans-serif;
  margin-top: -10px;
}

.project-list-wrapper {

  margin-top: -20px;
}

.project-image-size {

  width:50%;
  height:280px;

}

div.project-image-size {

  background-color: rgba(0, 0, 0, 0.774);
  margin: 0px 2px;
  border: 2px solid rgba(0, 0, 0, 0.774);
  border-radius: 5px;

}

img {

  margin: 0px 2px;
  border: 2px solid gainsboro;
  border-radius: 5px;

}



.project-image-wrapper {

  display: flex;
  padding: 5px;
  margin-top: 30px;
  
  
}

.ind-project{
  
  background-color: rgb(197, 89, 98);
  padding: 20px;
  border-radius: 10px;
  display:grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  width:100%;
  
  
  
}

@media (max-width: 500px)
{

  .projects-wrapper {
    z-index: -1;
   
  
}

  .project-bg{

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  
  }
  .ind-project{

    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 90%;
   
}
}

@media (max-width: 800px)
{

  .projects-wrapper {
    z-index: -1;
   
  
}

  .project-bg{

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  
  }
  .ind-project{

    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 90%;
   
}
}

.project-btn-wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.btn-projects {
  background-color: rgb(197, 89, 98);
  border:2px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  width: 45%;
  text-align: start;
  font-family: 'karla', sans-serif;
  
}



.btn-projects:hover {

  transform: scale(1.1);
  background-color: white;
}

a {

  text-decoration: none;
  color: black;
  letter-spacing: 0.2em;
  
}

.header-para-project-wrapper {
   width:100%;
   
 
}

li.project-list {

  color: black;
  padding:10px;
  
}

.git.fab{

  margin-left: -10px;
  font-size: 1em;
}

.under-construct {

  color: white;
  opacity: 20%;
  font-family: 'saira', sans-serif;
  text-align: center;
  margin-top: 50%;
}







  </style>
<script src="app.js"></script>
</body>
</html>