<div class="tech-wrapper">
    <i  data-tech-icons class="fab fa-html5"></i><br><i  data-tech-icons class="fab fa-css3"></i><br><i  data-tech-icons class="fab fa-js-square"></i><br><i  data-tech-icons class="fab fa-node"></i><br><i  data-tech-icons class="fab fa-vuejs"></i>
</div>