
                            /* HEADER HEADER HEADER */

    .wrapper{
    display:flex;
    width:100%;
    margin-top:-10px;
    border-bottom: 2px solid rgb(199, 56, 68);
    
    }
    
    .img-style{
       width:80px;
       border-radius: 50%;
       box-shadow: 4px 4px 2px 1px #ddd;
       margin:20px 0px;
       
    }
    
    .logo{
        padding-bottom: 10px;
        
      
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        max-width:100%;
        width:100vw;
        
        
        
    }
    
    
    .list{
        display:flex;
        list-style-type: none;
        font-size: 1.2em;
        font-family: 'saira', sans-serif;
        letter-spacing: 0.3em;
        padding-top:30px
        
    }
    
    .h-list{
        padding-right: 38px;
        margin-top:30px;
        
    }

    .d-list{
      
      list-style: none;
      color:black;
      line-height: 1.3em;
      font-size: 1.3em;
      font-weight: 800;
      font-family: 'karla', sans-serif;
      margin-left: -40px;
      text-align: center;
      padding-top:5px;
    


      
    
    }
    .d-list:hover{
      color:white;
      cursor: pointer;
      background-color: #7854AB ;
      border-radius: 5px;
    
    }
    
    a{
        text-decoration: none;
        color:black;
        padding-bottom:5px;
    }
    
    a:hover{
      
        width:100px;
        border-bottom: 2px solid rgb(199, 56, 68);
        transition: 0.3s;
        
    }
    
    i{
        font-size: 20px;
        
    }
    
    .menu-drop{
      position: fixed;
      
   
    }

        @media (max-width:600px) {
    
        .menu-drop{
            position: fixed;
            top:0%;
            right: 0%;
            left:0%;
            width:100vw;
            background-color: white;
            height:70px;
            text-align: center;
            
            

        }
        .drop-style{
          position: fixed;
          display: grid;
          grid-template-columns: repeat(3, auto);
          grid-template-rows: 1fr;
          left:0%;
          right: 0%;
          width:90%;
          background-color: white;
          height:40px;
          /* opacity: 1; */
          transition: 1s;
          margin: -70px auto 0px auto;
          justify-content: stretch;
          border-bottom: 2px solid black;
          align-items: stretch;
         
 
     }
            .dropdown{
          position: fixed;
          display: grid;
          grid-template-columns: repeat(3, auto);
          grid-template-rows: 1fr;
          left:0%;
          right: 0%;
          width:90%;
          height: 40px;
          margin-top:-200px;
          transition: 1s;
          justify-content: stretch;
          align-items: stretch;
        }
    
        .wrapper{
            display:none;
        }
    }
    
        .fa-bars{
        font-size: 2.5em;
        position: fixed;
        top:2%;
        right:2%;
        cursor: pointer;
        
    }

    @media (min-width:700px)
    {
      .fa-bars{
        display: none;
      }
     
    }

    

              /* BODY BODY BODY */



h1{
    margin-top:20px;
    font-size: 2.5em;
    font-family: 'saira', sans-serif;
    
  }
  
  html{
    overflow-x: hidden;
  }
  
  article{
    background-color: rgb(197, 89, 98);
    border-top-right-radius: 70px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 10px;
    border: 3px solid black;
    width:100%;
    height: auto;
    margin: auto;
    letter-spacing: 0.20em;
    line-height: 1.1em;
    
    font-size: 1em;
  
  }
  
  h3{
    font-size: 1em;
  }

  .sub-role{
      font-family: 'karla', sans-serif;

  }
  
  
  .intro{
    margin-top:100px;
    text-align: center;
  }

  @media (max-width:700px) {

    .intro{
      margin-top:140px;
    }
  }
  
  .me-container{
    display: grid;
    justify-content: center;
    padding:20px 50px;
   }
  
  .random-list.loves-list{
   
    justify-content: center;
    margin-top:50px;
    }
  

  
  .me-heading{
    padding-top:20px;
    color:white;
    font-family: 'saira';
    font-size: 1em;
    cursor:pointer;

    
    
  }
  
  
  .projects-sect{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: #54AB78;
    height:600px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @media (max-width:700px) {

       .projects-sect{
         grid-template-columns: 1fr;
         grid-template-rows: repeat(1fr);
       }
  }
  
  .project{
    border: 1px solid white;
  }
  
  .socials{
    
    padding-bottom:30px;
    text-align: center;
    
    
    
  }
  
  .fa-twitter:hover, .fa-linkedin:hover{
      color:rgb(48, 112, 207);
      cursor: pointer;
      
      
  }
  .fa-github:hover{
      color:orangered;
      cursor: pointer;
  }

  .fab{
      padding:0 20px;
  }
  
  .display{
    color: black;
  }
  
  /* .loves-list{
   position: absolute;
    top:70%;
    left:25%
  }
  
  .random-list{
    position:absolute;
    top:70%;
    left:5%;
  }
    */
  
  
  /* CONTINUR READING */

  .cont-style{
    font-style: italic;
    color: white;
    opacity: 0.5;
    font-size: 0.8em;
    text-align: center;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 3s;

  }

  .cont-style:hover{
    font-size: 1em;
    cursor: pointer;
  }


  #story-config{
    padding:50px;
  }
 


  .anime{
    animation-name: react;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes react {
     0%{
       color:#7854AB ;
       transform: rotate(500deg);
       font-size: 2em;
       border-radius: 100%;
     }
     50%{
      color:#7854AB ;
      border-radius: 100%;
      
      
       
      
     }
     100%{
      color:#7854AB ;
      
     
  }

}

.anime-rev{
  animation-name: reverse;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes reverse {
   0%{
     color: #7854AB ;
     transform: rotate(-500deg);
   }
   50%{
    color:#7854AB ;
    
     
    
   }
   100%{
    color:#7854AB ;
    
   
}

}

.btn-style{
   padding:10px;
   font-size: 1em;
   border-radius: 10px;
   cursor: pointer;
   background-color:#7854AB;
   color: white;
}
  
  