<html lang="en">
    <%-include('./partials/head.ejs') %>
<body>

    <%-include('./partials/nav.ejs')%>
    <form class="form-container" action="" autocomplete="off">
        <label class="label-style" for="name" >Name:</label>
        <input class="input-style" name="title" type="text"required>
        <label class="label-style" for="email">Email:</label>
        <input class="input-style" name="Email" type="email" required>
        <label class="label-style" for="text">Whats on your mind:</label>
        <textarea class="area-style" name="comments" id="form" required></textarea>
        <button class="submit">Submit</button>
    </form>


    <%-include('./partials/footer.ejs')%>
</body>
</html>