<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7c7d76f4cc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
    
</head>
<body>
                            <!-- HEADERR -->
    <div class="wrapper">
        <nav class="nav">
          <div class="logo">
              <img class="img-style" src="assets/LOGO.svg" alt="Dib dev logo">
                 </div>
                    <ul class="list">
                       <li class="h-list"><a href="#">Projects</a></li>
                       <li class="h-list"><a href="#">ME</a></li>
                       <li class="h-list"><a href="#">Resume</a></li>
                       <li class="h-list"><a href="#">Contact</a></li>
                    </ul>
            
        </nav>
   </div>
    <div class="menu-drop" style="z-index: 2;" >
             <i class="fas fa-bars"></i>
    </div>
            <div>
             <ul class="dropdown">
               
             </ul>
            </div>

          <!-- MAIN BODY STARTS -->
          <div class="intro">
                    <h1><span style="color:#54AB78;">Ben</span>jamin <span style="color:#54AB78;">Dibley</span></h1>
                    <p class="sub-role" style="margin-top:-25px;margin-bottom:30px;">Front End Developer</p>

                    <div class="socials">
        
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                      </div>
       
      </div>
     
      
      <!-- Body Work -->
      <div class="me-container">
         <div class="about-head-wrapper">
        <a class="me-heading">My Story</a> 
        </div>
        <div class="btn-div">
          <button class="btn-style">My Journey</button>
          <button class="btn-style">Hobbies</button>
          <button class="btn-style">Random Facts</button>
        </div>
        <div></div>
        
      </div>
        <!-- 
        <article class="random">
            <ul class="random-list display">
               <li>Ive lived for atleast 10 years in each of New Zealand, Australia and England. I now live in France</li>
               <li>Im a huge fan of the mighty All Blacks, QPR and the Carolina Hurricanes. I'm also basically into any sport that New Zealand is involved in.</li>
               <li></li>
            </ul>
        </article>
        <article class="loves">
             <ul class="loves-list display">
                <li>My Family</li>
                <li>Food</li>
                <li><span style="text-decoration:line-through;">Beer</span> Coffee</li>
                <li>
                <i class="fas fa-hockey-puck"></i>
                <i class="fas fa-futbol"></i>
                <i class="fas fa-football-ball"></i>
                </li>
                <li>Running</li>
                <li>Web Development</li>
                <li>Food</li>
                <li>Travelling</li>
                <li>Food</li>
              </article>
            </ul>
        <a class="me-heading">| Random Facts |</a> <a class="me-heading">Loves</a>
        
      
      </div> -->
      <section class="projects-sect">
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
      </section>
      
    
      






<script src="app.js"></script>


</body>
</html>