<html lang="en">
<%-include('./partials/head.ejs')%>
<body>

  <%-include('./partials/nav.ejs')%>
                            <!-- HEADERR -->
  <h1>Projects</h1>







  <%-include('./partials/footer.ejs')%>
<script src="app.js"></script>
</body>
</html>