  
         
                <div class="ind-project project-3 hide" >
                    <div class="project-image-wrapper">
                      <img class="project-image-size" src="gumbootMenumob.jpg" alt="The Gumboot menu page">
                    </div>
                   <div class="header-para-project-wrapper">
                          <h1 class="project-header">The Gumboot</h1>
                      <ul class="project-list-wrapper"> 
                            <li class="project-list">A Small website for a new cafe showcasing Menus, Contact info as well as general info and a Picture gallery.</li>
                            <li class="project-list">Built with React, using express for the backend allowing customers to check out customer reviews as well as allowing them to leave their own. Icons designed using Figma.</li>
                      </ul>
                      <div class="project-btn-wrapper">
                              <button class="btn-projects"><a href="https://thegumboot.herokuapp.com/">Visit Live Site</a></button>
                              <button class="btn-projects"><a href="https://github.com/Dibz-Dev/theGumboot">Source Code</a></button>
                      </div>
                   </div>
                  </div>
          
          </div>