<div class="ind-project project-1 hide">
                
    <div class="project-image-wrapper">
        <img class="project-image-size" src="shopean.main.jpg" alt="image of main Shopean page">
    </div>
    
    <div class="header-para-project-wrapper">
      <h1 class="project-header">Shopean</h1>
    <ul class="project-list-wrapper">
          <li class="project-list">A functional Shopping list, Shopean stores shopping items, which can then be dynamically added to your shopping list in their respective categories.</li> 
          <li class="project-list">Backend: Server created using Node.js/Express to create and authenticate user profiles, MongoDB. </li>
          <li class="project-list">Frontend: Html, CSS and vanilla Javascript, hosted on Heroku.</li>
    </ul>
    <div class="project-btn-wrapper">
          <button class="btn-projects"><a href="https://shopean.herokuapp.com">Visit Live Site</a></button>
          <button class="btn-projects"><a href="https://github.com/Dibz-Dev/shopean">Source Code</a></button>
    </div>
  </div>
  

</div>