<div class="ind-project project-2 hide">
    <div class="project-image-wrapper">
      <img class="project-image-size" src="weatherWatchNight.jpg" alt="Weather watch interface page">
    </div>
   <div class="header-para-project-wrapper">
          <h1 class="project-header">Weather Watch</h1>
      <ul class="project-list-wrapper"> 
            <li class="project-list">A simple weather app allowing you to check the current weather in any city around the world.</li>
            <li class="project-list">Weather watch takes user input and returns weather info from the AccuWeather API</li>
            <li class="project-list">Built with HTML, CSS and Javascript</li>
      </ul>
      <div class="project-btn-wrapper">
              <button class="btn-projects"><a href="https://dibs-weatherwatch.netlify.app/">Visit Live Site</a></button>
              <button class="btn-projects"><a href="https://github.com/Dibz-Dev/WeatherWatch">Source Code</a></button>
      </div>
   </div>
  
</div>