
                            /* HEADER HEADER HEADER */
.page-header {

margin-top:110px;
margin-left: 20px;
font-family: 'saira', sans-serif;

}



  
   
    /* ----------------------------------------IMAGES--------------------------------------------- */


    .smaller-image {

      width:300px;
      height:300px;
      margin:auto;
      border:1px solid white;
      border-radius: 5px;
    }

    .arrow-container {

      height:80px;
      transform: rotate(270deg);
      margin-left: 100px;
      
    }
/* --------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------NAV------------------------------------------------ */
    .wrapper {

      display:flex;
      position: fixed;
      top: 0%;
      left:0%;
      width:100%;
      z-index: 1;
  
  
  }
    .nav.active{

      display:flex;
      width:100vw;
      margin-left: 0;
      background-color: black;
      transition: 0.5s;
      transition-timing-function:ease-out;
      border-bottom: 2px solid black;

      }
  
    .nav {

        display:flex;
        margin-left:-500px;
        width:10vw;
        background-color: black;
        transition: 0.2s;
        transition-timing-function: ease-out;
        padding: 10px;
        height:60px;
        
        }
     
      .list {

        display:flex;
        justify-content: space-around;
        /* align-items: center; */
        list-style-type: none;
        font-size: 1.3em;
        font-family: 'saira', sans-serif;
        letter-spacing: 0.2em;
        width:100%;
       
        
        
        
        
    }

    a.h-list {

      text-decoration: none;
      margin-top:-20px;
      color:white;
      font-weight: 500;
    }

    [data-list-style] {

      color:white;
      font-weight: 500;
    }
    
  
    [data-list-style]:hover {
      
      color:white;
      font-weight: 500;
      transform: scale(1.2);
     
     
 }

     @media (max-width:700px) {

      html.active {

        overflow-y: hidden;
         
       }

           .nav.active{ 

           height:100vh;
           
         }

         .nav {
           height: 100vh;
           transition: 0.5s;
         }


          .list {

           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           font-size: 1.5em;
           
          }
         
     
        }
   
/* ------------------------------------------------HAMBURGER MENU------------------------------- */
.menu-container {

  position: fixed;
  width:40px;
  top:3%;
  right: 1.5%;
  cursor: pointer;
  z-index: 1;
  
  
  
  
}

.transform-top {

  margin-bottom: 10px;
  border:2px solid black;
  background-color: black;
  transition: 0.3s;
  border-radius: 20px;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  
  
}

.transform-top.active {
  margin-top: 13px;
  border:2px solid white;
  background-color: white;
  transform:rotate(-52deg);
  transition:1s;
  border-radius: 20px;
  width:50%;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  
}

.removable {

  border:2px solid black;
  background-color: black;
  transition:0.2s;
  width:25px;
  border-radius: 20px;
  
  
  
}

.open {

  position: absolute;
  margin-top: -5px;
  border:2px solid white;
  background-color: white;
  opacity: 0%;
  transition:1s;
  border-radius: 20px;
  width:10%;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  
  
}

.transform-bottom{
  border:2px solid black;
  background-color: black;
  margin-top: 8px;
  transition: 0.3s;
  border-radius: 20px;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);


}

.transform-bottom.active {

  border:2px solid white;
  background-color: white;
  transform:rotate(52deg);
  margin-top: -13px;
  transition:1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 20px;
  width:50%;
}

/* ------------------------------------------------------------------------------------------------------------ */
    




 
   /* -------------------------------------------------BODY---------------------------------------------------- */
   
   html {

    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: gainsboro;
    box-sizing: border-box;
    
    
  }

  


  a.social-link {
    color: black;
  }
  
 

  .sub-role {

      font-family: 'karla', sans-serif;
      font-size: 1.7em;
      font-weight: 200;
      color:gray;
      margin-top: -50px;
      margin-bottom: 30px;
      

  }
  
  
  .intro {

    margin-top:100px;
    text-align: center;
    z-index: -1;
  }

  .me-header {

    font-family: 'saira', sans-serif;
    font-size: 3.5em;
  }

  
  .me-container {

    display: grid;
    justify-content: center;
    padding:20px 50px;
    z-index: -1;
   }
  

.about-para {

  font-size: 1.3em;
  letter-spacing: 0.1em;
  line-height: 1.5;
  width:70%;
  text-align: center;
  margin:auto;
  padding-bottom: 30px;
  font-family: 'karla', sans-serif;
  
}
  
 

  [data-project-icons] {

    color:white;
    font-size: 2em;
  }

  a.project-link-style {

    text-decoration: none;
    color: black;
    
  }

 
 
 
  
  /* CONTINUE READING */

  
  #story-config {

    padding:50px;
  }
 


.btn-style {

   padding:10px;
   font-size: 1em;
   border-radius: 10px;
   cursor: pointer;
   background-color:#7854AB;
   color: white;
}


@media (max-width: 500px)

{

  .me-header {
    font-size: 2.5em;
  }

  .sub-role {

    font-size: 1.3em;
    margin-top: -40px;
    margin-bottom: 30px;
  }

  .about-para {

    font-size: 1em;
    text-align: start;
  }

  .me-container {

    padding:10px 5px;
  }

  .intro {

    margin-top: 100px;
  }


}
